/* This is the isolated musical-work card template. All musical-work cards will inherit this CSS if no custom CSS is provided for the card.*/

.isolated-card {
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: calc(22/16);
  letter-spacing: 0.015em;
}

.isolated-card--view-fields {
  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 0 30px;
  max-width: 845px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

.field {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.label {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: calc(22/13);
  text-transform: uppercase;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.value {
  max-width: 100%;
}

.header-title-field,
.header-image-field,
.header-description-field {
  grid-template-columns: 1fr;
  order: -1;
  padding: 0;
}

.header-title-label,
.header-image-label,
.header-description-label {
  display: none;
}

.header-image-field {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 270px;
}

.header-title-field {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-size: 32px;
  font-weight: 700;
  line-height: calc(43/32);
  letter-spacing: 0;
}

.header-description-field {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  color: #6b6a80;
}

.header-image-field img {
  width: 110px;
  height: 110px;
  margin: auto;
}

.title-field {
  border-top: 1px solid #dedede;
  padding-top: 35px;
}

.isolated-card--small {
  min-height: 500px;
}

.isolated-card--small .header-image-field {
  height: auto;
  padding-bottom: 35px;
}

.isolated-card--small .header-image-field img {
  height: auto;
}

.isolated-card--small .header-title-field {
  font-size: 27px;
  line-height: 1.3;
}

.isolated-card--small .field {
  grid-template-columns: 1fr;
  gap: 0;
}

.isolated-card--small .label {
  text-align: left;
}


/* Field name-specific styles */
.isolated-card--view-fields > .verifi-id-field {
  overflow-wrap: anywhere;
  word-break: break-all;
  word-wrap: break-word;
}
