/* This is the isolated base card template. All cards will inherit this CSS if
no custom CSS is provided for the card.*/

.isolated-card {
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: calc(22/16);
  letter-spacing: 0.015em;
}

.isolated-card--view-fields {
  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 0 30px;
  max-width: 845px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

.field {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.label {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: calc(22/13);
  text-transform: uppercase;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.value {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-field,
.img-url-field,
.role-field {
  grid-template-columns: 1fr;
  order: -1;
  padding: 0;
}

.title-label,
.img-url-label,
.role-label {
  display: none;
}

.img-url-field {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 270px;
}

.title-field {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-size: 32px;
  font-weight: 700;
  line-height: calc(43/32);
  letter-spacing: 0;
}

.role-field {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  color: #6b6a80;
}

.img-url-field img {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100px;
}

.role-field + .field {
  border-top: 1px solid #dedede;
  padding-top: 35px;
}

.isolated-card--small {
  min-height: 500px;
}

.isolated-card--small .img-url-field {
  height: auto;
  padding-bottom: 35px;
}

.isolated-card--small .img-url-field img {
  height: auto;
}

.isolated-card--small .title-field {
  font-size: 27px;
  line-height: 1.3;
}

.isolated-card--small .field {
  grid-template-columns: 1fr;
  gap: 0;
}

.isolated-card--small .label {
  text-align: left;
}
